.announce p{
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    font-size: 15px;
    color: #555555;
}

.find{
    margin-right: 55px;
    margin-top: 29px;
    color: #555555;
}

.join{
    width: 145px;
    height: 44px;
    margin-top: 20px;
    margin-left: 33%;
    text-align: center;
    border-radius: 12px;
    border: none;
    background-color: #53BF70;
    color: #ffffff;
    font-family: 'vazir';
    font-size: 17px;
    outline: none;
}

.join:hover{
    background-color: #399652;
}

@keyframes rotate{
to{ transform: rotate(360deg); }
}

.loading{
    display: none;
    width: 35%;
    height: auto;
    margin-left: 43%;
    margin-top: 4%;
    animation: rotate 5s linear infinite; 
}

.info{
    display: none;
}

.player1{
    float: left;
    text-align: left;
    margin: 10px;
}

.player2{
    direction: rtl;
    float: right;
    text-align: right;
    margin: 10px
}

.trophy{
    width: auto;
    height: 17px;
}

.scores{
    font-size: 25px;
    text-align: center;
}

.turn{
    font-size: 15px;
    text-align: center;
    direction: rtl;
}

.red{
    color: rgb(255, 72, 72);
}

.blue{
    color: rgb(67, 67, 255)
}

.board{
    display: none;
}

table{
    margin-top: 13px;
    margin-left: 19px;
}

.cell{
    font-size: 17px;
    text-align: center;
    width: 38px;
    height: 38px;
    background-color: rgb(197, 197, 197);
}

.number{
    color: #ffffff;
    background-color: rgb(37, 37, 37);
}

.ore{
    pointer-events: none;
    width: 20px;
    height: auto;
    margin-top: 5px;
}

.end{
    display: none;
    margin-top: 10px;
    text-align: center;
}

.winner{
    color: rgb(19, 121, 19);
    font-family: 'vazir bold';
    direction: rtl;
    font-size: 18px;
}

.cal1{
    color: rgb(27, 139, 36);
}

.cal2{
    color: rgb(179, 49, 255);
}

.replay{
    width: 145px;
    height: 44px;
    text-align: center;
    border-radius: 12px;
    border: none;
    background-color: #53BF70;
    color: #ffffff;
    font-family: 'vazir';
    font-size: 17px;
    outline: none;
}

.replay:hover{
    background-color: #399652;
}

.error{
    display: none;
    width: 93%;
    height: 69px;
    background-color: rgb(255, 104, 104);
    border-radius: 12px;
    margin-top: 10px;
    margin-left: 10px;
    overflow: auto;
}

.error p{
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
    direction: rtl;
    font-size: 14px;
}