.announce p{
    float: right;
    text-align: right;
    margin: 10px;
    font-size: 15px;
    color: #555555;
}

.announce p span{
    color: #006DFF;
}

.container form{
    margin-right: 55px;
    margin-top: 29px;
    direction: rtl;
    color: #555555;
}

.container form input[type=text], input[type=password]{
    width: 207px;
    height: 36px;
    border-radius: 12px;
    margin-top: 6px;
    outline: none;
    border: 1px solid #B7B7B7;
    text-align: center;
    font-size: 17px;
    font-family: 'vazir';
}

.container form input[type=submit]{
    width: 145px;
    height: 44px;
    margin-top: 20px;
    margin-right: 31px;
    text-align: center;
    border-radius: 12px;
    border: none;
    background-color: #53BF70;
    color: #ffffff;
    font-family: 'vazir';
    font-size: 17px;
    outline: none;
}

.container form input[type=submit]:hover{
    background-color: #399652;
}

.error{
    display: none;
    width: 93%;
    height: 69px;
    background-color: rgb(255, 104, 104);
    border-radius: 12px;
    margin-top: 10px;
    margin-left: 10px;
    overflow: auto;
}

.error p{
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
    direction: rtl;
    font-size: 14px;
}