* { 
    margin: 0;
    padding: 0;
}

@font-face
{
    font-family: 'vazir';
    src: url('../font/Vazir.ttf');
}

body {
    background-color: #F3F3F3;
    font-family: 'vazir';
}

.header{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0px 37px 2px rgba(0,0,0,0.16);     
}

.header img{
    padding: 5px;
    width: 40px;
    height: auto;
}

.header a{
    float: right;
    text-align: center;
    text-decoration: none;
    padding: 12px 16px;
    color: #555555;
    font-size: 17px;
}

.header a:hover{
    color: #000000;
}

.announce{
    width: 320px;
    height: 70px;
    margin: auto;
    margin-top: 24px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.16);
    border-radius: 10px;
}

.announce p{
    float: right;
    text-align: right;
    margin: 10px;
    font-size: 15px;
    color: #555555;
}

.announce p span{
    color: #006DFF;
}

.container{
    width: 320px;
    height: 348px;
    margin: auto;
    margin-top: 24px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.16);
    border-radius: 10px;
    overflow: auto;
}

.container form{
    margin: auto;
    direction: rtl;
    color: #555555;
    white-space: pre-wrap;
}

.container form input[type=text], input[type=password]{
    width: 207px;
    height: 36px;
    border-radius: 12px;
    margin-top: 6px;
    outline: none;
    border: 1px solid #B7B7B7;
    text-align: center;
    font-size: 17px;
    font-family: 'vazir';
}

.container form input[type=submit]{
    width: 145px;
    height: 44px;
    margin-top: 20px;
    margin-right: 31px;
    text-align: center;
    border-radius: 12px;
    border: none;
    background-color: #53BF70;
    color: #ffffff;
    font-family: 'vazir';
    font-size: 17px;
    outline: none;
}

.container form input[type=submit]:hover{
    background-color: #399652;
}

.error{
    width: 93%;
    height: 50px;
    background-color: rgb(255, 104, 104);
    border-radius: 12px;
    margin-top: 10px;
    margin-left: 10px;
    overflow: auto;
}

.error p{
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
    direction: rtl;
    font-size: 14px;
}