.announce p{
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    font-size: 15px;
    color: #555555;
}

.announce p span{
    color: #006DFF;
}

table {
    width:100%;
    border:1px none #C0C0C0;
    border-collapse:collapse;
    padding:6px;
}
table th {
    border:1px none #C0C0C0;
    padding:6px;
    background:#F0F0F0;
}
table th img{
    width: 18%;
    height: auto;
    margin-top: 4px;
}
table td {
    border:1px none #C0C0C0;
    text-align:center;
    padding:6px;
    background:#FFFFFF;
}